<template>
  <div class="cart col-lg-10 mt-3 mb-3 mx-auto text-center bg-light">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Ảnh sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Giá tiền</th>
          <th scope="col">Xóa</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in cart" :key="item.id">
          <td class="name_pro">{{ item.products.name }}</td>
          <td>
            <img
              :src="'http://127.0.0.1:8000/img/' + item.products.picture"
              :alt="item.products.name"
              class="img_pro"
            />
          </td>
          <td>{{ item.quantity }}</td>
          <td>{{ format_money(item.products.price * item.quantity) }}</td>
          <td>
            <i
              class="fas fa-trash-alt text-danger"
              @click="Delete_pro(index)"
            ></i>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Tổng tiền :</strong></td>
          <td>
            <strong>{{ sumTotal }}</strong>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="5">
            <router-link to="/pay" class="btn btn-danger checkout">
              Thanh toán <i class="fab fa-opencart"></i>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  computed: {
    cart() {
      return this.$store.state.cart;
    },
    sumTotal() {
      var Total = this.cart.reduce((sum, item) => {
        return item.products.price * item.quantity + sum;
      }, 0);
      return this.format_money(Total);
    },
  },
  methods: {
    format_money(number) {
      var money = new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "VND",
      }).format(number);
      return money;
    },
    Delete_pro(index) {
      this.cart.splice(index, 1);
    },
  },
};
</script>

<style scoped>
thead tr th {
  width: 25%;
}
tbody tr td.name_pro {
  text-align: left;
  padding-left: 20px;
}
.img_pro {
  width: 20%;
}

td i {
  cursor: pointer;
}
.checkout {
  float: right;
}
</style>