<template>
  <SlideShow />
  <ListPhone :ListPhones="ListPhones"/>
  <ListLaptop :ListLaptops="ListLaptops"/>
</template>

<script>
// @ is an alias to /src
import SlideShow from "../components/SlideShow.vue";
import ListPhone from "../components/ListPhone.vue";
import ListLaptop from "../components/ListLaptop.vue";
export default {
  name: "Home",
  components: {
    SlideShow,
    ListPhone,
    ListLaptop,
  },
  props:[
    "ListPhones","ListLaptops",
  ]
};
</script>
