<template>
  <div class="product_detail">
    <div class="panel col-lg-10 mx-auto p-4">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/">Trang chủ</router-link>
            </li>
            <li class="breadcrumb-item">
              <router-link to="/laptop">Laptop</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ laptops.name }}
            </li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <h1>Điện thoại {{ laptops.name }}</h1>
          <div class="info_price d-flex pb-4">
            <img
              class="w-50"
              :src="link_img + laptops.picture"
              :alt="laptops.name"
              style="padding-right: 20px"
            />
            <div class="money">
              <h3 class="text-danger d-inline-block">
                {{ format_money(laptops.price) }}
              </h3>
              <span>
                Giá niêm yết
                <del>
                  {{ format_money(laptops.price + 0.2 * laptops.price) }}</del
                >
              </span>
              <div class="free_ship text-center">
                <i class="fab fa-opencart"></i> Miễn phí vận chuyển toàn quốc
              </div>
              <div class="pt-4">
                Mua online thêm quà: Tặng Phiếu mua hàng 300,000đ cho Khách hàng
                tại {{ laptops.origin }} (áp dụng mua sản phẩm gia dụng)
                <br />
                <br />
                Nhập mã HPBD17 giảm 3% tối đa 100.000đ khi thanh toán quét
                QRcode qua App của ngân hàng
              </div>

              <form v-on:submit.prevent class="pt-4">
                <div>Số lượng :</div>
                <div class="buttons_added">
                  <input
                    v-if="cart.quantity > 1"
                    @click="cart.quantity--"
                    class="minus is-form"
                    type="button"
                    value="-"
                  />
                  <input
                    v-if="cart.quantity <= 1"
                    disabled
                    class="minus is-form"
                    type="button"
                    value="-"
                  />
                  <input
                    aria-label="quantity"
                    class="input-qty"
                    name=""
                    type="number"
                    v-model="cart.quantity"
                  />
                  <input
                    @click="cart.quantity++"
                    class="plus is-form"
                    type="button"
                    value="+"
                  />
                </div>

                <button
                  type="submit"
                  @click="AddToCart"
                  class="btn btn-danger w-100 mt-3"
                >
                  Mua Ngay
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h3 class="configuration_title">Cấu hình</h3>
          <div class="configuration" v-html="laptops.configuration"></div>
        </div>
      </div>
      <div class="row">
        <div class="description" v-html="laptops.description"></div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      laptops: [],
      link_img: "http://127.0.0.1:8000/img/",
      cart: {
        quantity: 1,
      },
    };
  },

  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/laptops/" + this.$route.params.id)
      .then((response) => {
        this.laptops = response.data.data;
      });
  },
  computed: {
    state() {
      return this.$store.state.cart;
    },
  },
  methods: {
    format_money(number) {
      var money = new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "VND",
      }).format(number);
      return money;
    },
    AddToCart() {
       var cart = {
        products : this.laptops,
        quantity :this.cart.quantity,
        product :'laptop',
      };
      this.state.push(cart);

    },
  },
};
</script>

<style>
.product_detail .panel {
  background-color: #fff;
}
.configuration table {
  width: 100%;
}
.configuration table tbody tr {
  padding: 5px;
}
.configuration table tbody tr:nth-child(odd) {
  background-color: #ecf0f1;
}
.configuration_title {
  background-color: #16a085;
  color: #fff;
  padding: 5px;
}
.free_ship {
  background-color: #16a085;
  color: #fff;
  padding: 10px;
}
.info_price .money {
  width: 100%;
  padding-right: 40px;
}
.money h3 {
  font-weight: bold;
  margin-right: 15px;
}

/* -------------------form------------------------------- */

.buttons_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
}
.is-form {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  height: 2.2rem;
  width: 1.9rem;
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ddd;
}
.is-form:focus,
.input-text:focus {
  outline: none;
}
.is-form.minus {
  border-radius: 4px 0 0 4px;
  height: 2rem;
  width: 2rem;
}
.is-form.plus {
  border-radius: 0 4px 4px 0;
  height: 2rem;
  width: 2rem;
}
.input-qty {
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 0;
}
.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.breadcrumb-item a {
  color: #000;
  font-weight: bold;
}
.breadcrumb-item a:hover {
  color: #6c757d;
}
</style>