<template>
  <div class="pay col-lg-10 mx-auto mt-3 mb-3">
    <h1 class="text-center text-light bg-danger pt-2 pb-2">
      Thông tin khách hàng
    </h1>
    <form @submit="pay" class="col-lg-6 mx-auto">
      <div class="form-group mb-3">
        <label for="full_name">Tên đầy đủ</label>
        <input
          type="text"
          class="form-control"
          id="full_name"
          placeholder=""
          v-model="infor_customer.full_name"
          name="full_name"
        />
      </div>
      <div class="form-group mb-3">
        <label for="phone">Số điện thoại</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          placeholder=""
          v-model="infor_customer.phone"
        />
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="example@gmail.com"
          v-model="infor_customer.email"
        />
      </div>
      <div class="form-group mb-3">
        <label for="address">Địa chỉ</label>
        <textarea
          class="form-control"
          name="address"
          id="address"
          cols="30"
          rows="10"
          v-model="infor_customer.address"
        >
        </textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-danger">Thanh toán</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      infor_customer: {
        full_name: "",
        phone: "",
        address: "",
        email: "",
      },

      customer_id: 0,
      order_id: 0,
      payment_methods: 0,
      description: "",
    };
  },
  computed: {
    state() {
      return this.$store.state.cart;
    },
    sumTotal() {
      var Total = this.state.reduce((sum, item) => {
        return item.products.price * item.quantity + sum;
      }, 0);
      return Total;
    },
  },
  methods: {
    pay(e) {
      try {
        axios
          .post("http://127.0.0.1:8000/api/customers/", this.infor_customer)
          .then((response) => {
            var customer_id = response.data.data.id;
            this.add_order(customer_id);
          });
        e.preventDefault();
        this.infor_customer.full_name = "";
        this.infor_customer.phone = "";
        this.infor_customer.address = "";
        this.infor_customer.email = "";
      } catch (error) {
        console.log(error);
      }
    },
    add_order(customer_id) {
      try {
        var orders = {
          customer_id: customer_id,
          price: this.sumTotal,
          payment_methods: this.payment_methods,
          description: this.description,
        };
        axios
          .post("http://127.0.0.1:8000/api/orders/", orders)
          .then((response) => {
            var order_id = response.data.data.id;
            this.add_order_detail(order_id);
          });
      } catch (error) {
        console.log(error);
      }
    },
    add_order_detail(order_id) {
      try {
        this.state.forEach((item) => {
          var order_detail = {
            order_id: order_id,
            quantity: item.quantity,
            price: item.quantity * item.products.price,
            description: this.description,
          };

          if (item.product == "phone") {
            order_detail.phone_id = item.products.id;
          }
          if (item.product == "laptop") {
            order_detail.laptop_id = item.products.id;
          }
          axios
            .post("http://127.0.0.1:8000/api/order_detail/", order_detail)
            .then((response) => {
    
            });
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.pay {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
.form-control:focus {
  border-color: #16a085;
  box-shadow: 0 0 0 0.25rem rgb(22 160 133 / 52%);
}
</style>