<template>
  <div class="flash_sale">
    <div class="d-flex title pt-3 pb-3 text-left col-lg-10 mx-auto">
      <h3>
        F<span><i class="fas fa-bolt"></i></span>ash sale online
      </h3>
    </div>
    <div class="list col-lg-10 mx-auto">
      <div class="owl-carousel list_phone owl-theme">
        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone1.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>
        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone2.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>

        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone3.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>

        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone4.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>

        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone5.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>

        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone6.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>

        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone7.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>

        <div class="one_phone col-lg-12">
          <img src="../assets/images/phone8.png" alt="" />
          <div class="content">
            <a href="#">Samsung Galaxy A12 - Chính Hãng</a>
            <span class="money_red"> 3,590,000 đ</span>
            <span class="money_black">4,290,000 đ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.title {
  background-color: #16a085;
  border-left: 5px solid #394958;
}
@media (min-width: 375px) {
  .title {
    text-align: center;
    flex-direction: column;
    padding-left: 0;
    padding-top: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .title {
    flex-direction: row;
    padding-left: 20px;
  }
}
.title h3 {
  text-transform: uppercase;
  color: #e0dcdc;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.list {
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.list .list_phone .one_phone {
  text-align: center;
}
.list .list_phone .one_phone img {
  width: auto;
  display: inline-block;
}
.list .list_phone .one_phone .content a {
  display: inline-block;
  color: #212529;
  font-weight: 600;
  width: 100%;
}
</style>