<template>
  <div class="menu_laptop menu_product col-lg-12 mx-auto">
    <div class="d-flex title pt-3 pb-3 text-left col-lg-10 mx-auto">
      <h3>Laptop <i class="fas fa-laptop"></i></h3>
    </div>
    <div class="btn_filter col-lg-10 mx-auto p-3">
      <span class="mr-2">Hãng :</span>
      <button @click="filter_s = 'MSI'" class="btn btn-primary">MSI</button>
      <button @click="filter_s = 'Asus'" class="btn btn-secondary">Asus</button>
      <button @click="filter_s = 'Lenovo '" class="btn btn-success">
        Lenovo
      </button>
      <button @click="filter_s = 'HP'" class="btn btn-danger">HP</button>
      <button @click="filter_s = 'Apple'" class="btn btn-warning">Apple</button>
    </div>

    <div class="col-lg-10 mx-auto list_product list_laptop">
      <div
        v-for="(item,index) in filter_laptop"
        :key="item.id"
        class="col-lg-3 col-md-4 col-12"
      >
        <div class="one_laptop one_product col-lg-12">
          <div class="one_laptop-image one_product_image">
            <img
              class="w-50 pt-4 pb-4"
              :src="link_img + item.picture"
              :alt="item.name"
            />
            <div class="addtocart d-flex">
              <router-link :to="'/laptop/' + item.id" class="quick-view w-50"
                >xem sản phẩm</router-link
              >
              <p @click="AddToCart(index)" class="add">thêm vào giỏ</p>
            </div>
          </div>
          <div class="one_laptop-name one_product_name">
            <router-link :to="'/laptop/' + item.id" class="w-100">{{
              format_text(item.name)
            }}</router-link>
            <div class="price money_red money_red">
              {{ format_money(item.price) }}
            </div>
            <div class="stars">
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      link_img: "http://127.0.0.1:8000/img/",
      laptops: [],
      filter_s: "",
      cart: {
        quantity: 1,
      },
    };
  },
  methods: {
    format_text(text) {
      var maxLength = 25;
      //trim the string to the maximum length
      var trimmedString = text.substr(0, maxLength);
      //re-trim if we are in the middle of a word
      trimmedString = trimmedString.substr(
        0,
        Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))
      );

      return trimmedString + "...";
    },
    format_money(number) {
      var money = new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "VND",
      }).format(number);
      return money;
    },
    AddToCart(index) {
        var cart = {
        products : this.laptops[index],
        quantity :1,
        product :'laptop',
      };
      this.state.push(cart);

    },
  },
  computed: {
    filter_laptop() {
      return this.laptops.filter((el) => {
        return el.name.match(this.filter_s);
      });
    },
    state() {
      return this.$store.state.cart;
    },
  },
  mounted() {
    axios.get("http://127.0.0.1:8000/api/laptops").then((response) => {
      this.laptops = response.data.data;
    });
  },
};
</script>

<style>
</style>