<template>
  <div class="menu_phone menu_product col-lg-12 mx-auto">
    <div class="d-flex title pt-3 pb-3 text-left col-lg-10 mx-auto">
      <h3>Điện Thoại <i class="fas fa-mobile-alt"></i></h3>
    </div>

    <div class="btn_filter col-lg-10 mx-auto p-3">
      <span class="mr-2">Hãng :</span>
      <button @click="filter_s = 'iPhone'" class="btn btn-primary">
        Iphone
      </button>
      <button @click="filter_s = 'Samsung'" class="btn btn-secondary">
        Samsung
      </button>
      <button @click="filter_s = 'Oppo'" class="btn btn-success">Oppo</button>

      <button @click="filter_s = 'Vivo'" class="btn btn-danger">Vivo</button>
    </div>

    <div class="col-lg-10 mx-auto list_product list_phone">
      <div
        v-for="(item, index) in filter_phone"
        :key="item.id"
        class="col-lg-3 col-md-4 col-12"
      >
        <div class="one_phone one_product col-lg-12">
          <div class="one_phone-image one_product_image">
            <img
              class="w-50 pt-4 pb-4"
              :src="link_img + item.picture"
              :alt="item.name"
            />
            <div class="addtocart d-flex">
              <router-link
                :to="'/dien-thoai/' + item.id"
                class="quick-view w-50"
                >xem sản phẩm</router-link
              >
              <p class="add" @click="AddToCart(index)">thêm vào giỏ</p>
            </div>
          </div>
          <div class="one_phone-name one_product_name">
            <router-link :to="'/dien-thoai/' + item.id" class="w-100">{{
              item.name
            }}</router-link>
            <div class="price money_red">{{ format_money(item.price) }}</div>
            <div class="stars">
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
import axios from "axios";

export default {
  data() {
    return {
      filter_s: "",
      link_img: "http://127.0.0.1:8000/img/",
      phones: [],
    };
  },
  methods: {
    format_money(number) {
      var money = new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "VND",
      }).format(number);
      return money;
    },
    AddToCart(index) {
      var cart = {
        products : this.phones[index],
        quantity :1,
        product :'phone',
      };
      this.state.push(cart);
  
    },
  },
  computed: {
    filter_phone() {
      return this.phones.filter((el) => {
        return el.name.match(this.filter_s);
      });
    },
    state() {
      return this.$store.state.cart;
    },
  },
  mounted() {
    axios.get("http://127.0.0.1:8000/api/phones").then((response) => {
      this.phones = response.data.data;
    });
  },
};
</script>

<style >
.menu_product {
  margin-bottom: 20px;
}
.btn_filter {
  background-color: #fff;
}
.btn_filter span {
  margin-right: 15px;
  font-weight: bold;
}
.btn_filter button {
  margin-right: 15px;
}
.list_product {
  display: flex;
  flex-wrap: wrap;
}

.one_product {
  width: 100%;
  background: #fff;
  padding: 15px;
}
.one_product .one_product_image {
  position: relative;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 2px solid #16a085;
}
.one_product .one_product_image img {
  max-width: 100%;
}
.one_product .one_product_image .addtocart {
  position: absolute;
  justify-content: center;
  text-align: center;
  height: 44px;
  width: 100%;
  line-height: 44px;
  bottom: -44px;
  opacity: 0;
  transition: all 0.5s;
}
.one_product .one_product_image .addtocart p {
  width: 50%;
  height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 12px;
  padding-bottom: 0;
}
.one_product .one_product_image .addtocart p:hover {
  color: #e0dcdc;
  background-color: #394958;
}
.one_product .one_product_image .addtocart .quick-view {
  background-color: #16a085;
  color: #fff;
}
.one_product .one_product_image .addtocart .add {
  background-color: #fff;
  color: #16a085;
}
.one_product .one_product_image:hover > .addtocart {
  bottom: 0px;
  opacity: 1;
}
.one_product .one_product_name {
  padding: 20px 15px;
  text-align: center;
  background-color: #f4f4f4;
  border-left: 2px solid #16a085;
  border-right: 2px solid #16a085;
  border-bottom: 2px solid #16a085;
  position: relative;
}
.one_product .one_product_name a {
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  color: #000;
}
.one_product .one_product_name a:hover {
  color: red;
}
.one_product .one_product_name span i {
  font-size: 24px;
  margin-right: -4px;
  cursor: pointer;
  color: orange;
  transition: all 0.5s;
}
.one_product:hover > .one_product_name,
.one_product:hover > .one_product_image {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
</style>