<template>
  <div class="slideshow">
    <div class="col-lg-10 col-12 mx-auto d-flex flex-wrap">
      <div class="col-lg-12 col-12 slideshow__images">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../assets/images/slideshow1.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="slide_text slide_text_right">
                <h2
                  class="
                    animate__animated animate__fadeInRight animate__delay-0.5s
                  "
                >
                  IPHONE 13 PRO
                </h2>
                <p
                  class="
                    animate__animated animate__fadeInRight animate__delay-0.5s
                  "
                >
                  FULL SCREEN DISPLAY
                </p>
                <a
                  href="#"
                  class="
                    button-1
                    animate__animated animate__fadeInRight animate__delay-1s
                  "
                  >Mua ngay</a
                >
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="../assets/images/slideshow2.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="slide_text slide_text_right">
                <h2
                  class="
                    animate__animated animate__fadeInRight animate__delay-.5s
                  "
                >
                  IPHONE 14 PRO
                </h2>
                <p
                  class="
                    animate__animated animate__fadeInRight animate__delay-.5s
                  "
                >
                  CURVY BEVEL DUAL AUDIO
                </p>
                <a
                  href="#"
                  class="
                    button-1
                    animate__animated animate__fadeInRight animate__delay-1s
                  "
                  >Mua ngay</a
                >
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="../assets/images/slideshow3.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="slide_text slide_text_left">
                <h2
                  class="
                    animate__animated animate__fadeInLeft animate__delay-.5s
                  "
                >
                  IPHONE 15 PRO
                </h2>
                <p
                  class="
                    animate__animated animate__fadeInLeft animate__delay-.5s
                  "
                >
                  CURVY BEVEL DUAL AUDIO
                </p>
                <a
                  href="#"
                  class="
                    button-1
                    animate__animated animate__fadeInLeft animate__delay-1s
                  "
                  >Mua ngay</a
                >
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.slideshow {
  margin-top: 20px;
}

.carousel-item .slide_text_left {
  left: 10%;
  color: black;
}

.carousel-item .slide_text_right {
  right: 10%;
  color: #fff;
}

.carousel-item .slide_text {
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
}

.carousel-item .slide_text h2,
.carousel-item .slide_text p {
  font-weight: 700;
}

.carousel-item .slide_text .button-1 {
  background-color: transparent;
  border: 3px solid #16a085;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #16a085;
  display: block;
  padding: 7px 15px;
}

.carousel-item .slide_text .button-1:hover {
  color: #00d7c3;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  text-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.slide_right {
  width: 100%;
}

.slide_right a img {
  max-width: 100%;
  margin-bottom: 10px;
}

.title {
  background-color: #16a085;
  border-left: 5px solid #394958;
}

.title h3 {
  text-transform: uppercase;
  color: #e0dcdc;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #16a085;
}

@media (min-width: 375px) {
  .carousel-item .slide_text {
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
  }
  .carousel-item .slide_text h2,
  .carousel-item .slide_text p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .carousel-item .slide_text .button-1 {
    display: inline-block;
    padding: 5px 10px;
  }
  .slide_right {
    padding-left: 0;
    margin-top: 10px;
  }
  .title {
    text-align: center;
    flex-direction: column;
    padding-left: 0;
    padding-top: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .carousel-item .slide_text h2,
  .carousel-item .slide_text p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .slide_right {
    padding-left: 20px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .title {
    flex-direction: row;
    padding-left: 20px;
  }
  .carousel-item .slide_text .button-1 {
    padding: 12px 50px;
  }
}
</style>