<template>
  <Header />

  <router-view  />

  <Footer />
</template>

<script>
import Header from "./layout/Header.vue";
import Footer from "./layout/Footer.vue";


export default {
  name: "App",

  data() {
    return {
   
    };
  },


  components: {
    Header,
    Footer,
 
  },


};
</script>
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Andika New Basic", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #dcf3ee;
}
/* #app {
    font-family: 'Andika New Basic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
</style>
