<template>
  <header>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row head col-lg-10 col-12 mx-auto">
        <div
          class="
            head__top
            d-flex
            flex-wrap
            justify-content-between
            col-lg-12 col-sm-12 col-md-12 col-12
            pt-2
            pb-2
          "
        >
          <a href="#" class="hamburger position-absolute">
            <i class="fal fa-align-left"></i>
          </a>
          <router-link
            to="/"
            class="logo col-sm-12 col-md-12 col-12 col-lg-3 col-md-3"
            >Tiến Lợi PC</router-link
          >
          <form
            action=""
            class="
              position-relative
              form-search
              col-sm-12 col-12 col-lg-6 col-md-12
            "
          >
            <input type="text" placeholder="hôm nay bạn cần tìm gì?" />
            <i class="fas fa-search position-absolute"></i>
          </form>
        

          <router-link to="/cart" class="bag position-relative">
            <i class="fas fa-shopping-basket"></i>

            <i
              v-if="state >= 1"
              class="fas fa-comment-alt position-absolute text-danger"
              style="font-size: 17px; right: 0"
            ></i>

            <span
              v-if="state >= 1"
              class="position-absolute"
              style="font-size: 13px; right: 5px; top: -3px"
              >{{ state }}</span
            >
          </router-link>
        </div>
      </div>
      <div class="row col-lg-10 col-sm-12 col-md-12 mx-auto">
        <div class="menu head__bottom">
          <ul class="nav-list d-flex justify-content-between">
            <li class="nav-item">
              <router-link class="nav-link" to="/dien-thoai"
                ><i class="fas fa-mobile-alt"></i>
                <span>Điện Thoại</span></router-link
              >
            </li>

            <li class="nav-item">
              <router-link class="nav-link" to="/dong-ho"
                ><i class="far fa-clock"></i> <span>Đồng Hồ</span></router-link
              >
            </li>

            <li class="nav-item">
              <router-link class="nav-link" to="/laptop"
                ><i class="fas fa-laptop"></i>
                <span>Laptop - Máy tính</span></router-link
              >
            </li>

            <li class="nav-item">
              <router-link class="nav-link" to="/tablet"
                ><i class="fas fa-tablet-alt"></i>
                <span>Tablet</span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/headphones"
                ><i class="fas fa-headphones-alt"></i>
                <span>Loa - Tai nghe</span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/phu-kien"
                ><i class="far fa-keyboard"></i>
                <span>Phụ kiện </span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/sua-chua"
                ><i class="fas fa-tools"></i><span>Sửa chữa </span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/sim-the"
                ><i class="fas fa-sim-card"></i
                ><span>Sim thẻ </span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/tin-tuc"
                ><i class="far fa-newspaper"></i
                ><span>Tin tức </span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/khuyen-mai"
                ><i class="fas fa-fire-alt"></i
                ><span>Khuyến mại </span></router-link
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--------------------------------menu-secondary ----------------------------------------------->
    <div class="menu-secondary">
      <ul class="">
        <li class="login position-relative">
          <a href="./login/login.html" class=""
            ><i class="far fa-user"></i><span>Đăng nhập</span></a
          ><span class="position-absolute hamburger"
            ><i class="fal fa-align-left"></i
          ></span>
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-mobile-alt"></i><span>Điện Thoại</span></a
          >
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="far fa-clock"></i><span>Đồng Hồ </span>
          </a>
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-laptop"></i><span>Laptop - Máy tính</span>
          </a>
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-tablet-alt"></i><span>Tablet</span>
          </a>
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-headphones-alt"></i><span>Loa - Tai nghe</span>
          </a>
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="far fa-keyboard"></i><span>Phụ kiện </span>
          </a>
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-tools"></i><span>Sửa chữa </span></a
          >
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-sim-card"></i><span>Sim thẻ </span></a
          >
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="far fa-newspaper"></i><span>Tin tức </span></a
          >
        </li>
        <li class="">
          <a href="#" class=""
            ><i class="fas fa-fire-alt"></i><span>Khuyến mại </span></a
          >
        </li>
      </ul>
    </div>
    <div id="screen_black" class="d-none"></div>
  </header>
</template>

<script>
export default {
  computed: {
    state() {
      return this.$store.state.cart.length;
    },
  },
};
</script>

<style>
li,
ul {
  list-style: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.nav-item {
  text-align: center;
}
.nav-item .nav-link i {
  width: 100%;
}

.head__top {
  align-items: center;
  background-color: #16a085;
  position: relative;
}
@media (min-width: 375px) {
  .head__top .logo {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .head__top .logo {
    text-align: left;
  }
}
@media (min-width: 375px) {
  .head__top .bag {
    position: absolute;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .head__top .bag {
    position: relative;
    right: 0;
    transform: translateY(0);
    font-size: 40px;
  }
}
@media (min-width: 375px) {
  .head__top .hamburger {
    font-size: 20px;
    transform: translateY(-50%);
    display: block;
  }
}
@media (min-width: 992px) {
  .head__top .hamburger {
    transform: translateY(0);
    display: none;
  }
}
.head__top a {
  font-size: 40px;
  color: #fff;
}
.head__top .form-search input {
  width: 100%;
  height: 40px;
  text-indent: 20px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  color: #16a085;
}
.head__top .form-search i {
  right: 8px;
  top: 8px;
  font-size: 25px;
  cursor: pointer;
  color: #16a085;
}

.head__bottom {
  background-color: #394958;
  overflow-x: auto;
}
.head__bottom .nav-list .nav-item .nav-link {
  color: #e0dcdc;
}
@media (min-width: 768px) {
  .head__bottom .nav-list .nav-item .nav-link {
    width: 170px;
  }
}
@media (min-width: 1200px) {
  .head__bottom .nav-list .nav-item .nav-link {
    width: auto;
  }
}
@media (min-width: 375px) {
  .head__bottom .nav-list .nav-item .nav-link span {
    display: none;
  }
}
@media (min-width: 768px) {
  .head__bottom .nav-list .nav-item .nav-link span {
    display: block;
  }
}
.head__bottom .nav-list .nav-item .nav-link:hover {
  color: #16a085;
  background-color: #475868;
}

.menu-secondary {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 70%;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
  background-color: #16a085;
  height: 100vh;
}
.menu-secondary ul .login {
  font-size: 20px;
  background-color: #475868;
}
.menu-secondary ul .login span {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.menu-secondary ul li a {
  display: block;
  color: #fff;
  padding: 15px;
  transition: margin-left 0.5s;
}
.menu-secondary ul li a i {
  margin-right: 20px;
}
.menu-secondary ul li a:hover {
  background-color: #475868;
  margin-left: 20px;
}

.menu_out {
  transform: translateX(0);
  opacity: 1;
}
</style>